NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://gbsggzkzdbrcsocwzmin.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0IL7I2lFOdroUCezffvSZQ_JPu1VD0L
STRIPE_SECRET_KEY=sk_test_...
